<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="js/jquery-2.1.0.min.js" type="text/javascript"></script>
    <script src="js/underscore-min.js" type="text/javascript"></script>
    <script src="js/backbone-min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1 style="text-align:center"> Let's Chat Now!</h1>
      <div class="main container">
        <ul class="list-unstyled message-box">
        </ul>
        <div class="row">
          <div class="input-line col-md-9">
            <div class="input-group">
              <input type="text" class="form-control" id="message">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button" id="send">Send</button>
              </span>
            </div>
          </div>
          <div class="input-line col-md-3">
            <div class="input-group" style="top:5px">
              <label id="name-label"> Joey </label>
              <input type="text" class="edit-input" id="edit-input" placeholder="Type in your name">
              <a src="#" id="edit" class="edit-label"> Edit </a>
              <a src="#" id="confirm" class="edit-label" style="display:none"> Confirm </a>
            </div><!-- /input-group -->
            </div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/template" id="message-list-template">
    <% _.each(messages,function(m){ %>
      <li><b><%= m.get("name") %></b> : <%=m.get("content")%></li>
    <% }); %>
  </script>
  <script src="js/main.js"></script>
</html>

